{
    admin 0.0.0.0:2019 {
        origins localhost
    }
}

:{$HTTP_PORT:80} {
    # Management API
    handle /api/* {
        reverse_proxy management-api:3001
    }

    # Landing page
    handle {
        file_server {
            root /data/landing
        }
    }
}
